{% load crispy_forms_tags %}
<div id="contact" class="container" style="border-bottom: 1px solid #d3d3d3;">
    <h1>Contact</h1>
    <div class="row">
        <div class="col-md-5 bg-white">
            <p>Send me a message and I will get back to you within <span class="text-underline">24 hours.</span></p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Stockholm, Sweden</p>
            <p><span class="glyphicon glyphicon-phone"></span> +36 309524269 (HU)</p>
            <p><span class="glyphicon glyphicon-envelope"></span> mark.antal.csizmadia@gmail.com</p>
            <p><span class="fa fa-linkedin fa-lg"></span> <a class="href-a" href="https://www.linkedin.com/in/mark-antal-csizmadia/" target="_blank"> LinkedIn</a></p>
            <p><span class="fa fa-github fa-lg"></span> <a class="href-a" href="https://github.com/mark-antal-csizmadia" target="_blank"> GitHub</a></p>
        </div>
        <div class="col-md-7">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group row">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group text-center">
                    <button class="btn btn-primary btn-xlarge href_p mt-3 mb-5" type="submit">Send Message</button>
                </div>
            </form>
        </div>

    </div>
</div>