<!-- Load crispy form tags for easily usable forms -->
{% load crispy_forms_tags %}
<!-- The contact container -->
<div id="contact" class="container" style="border-bottom: 1px solid #d3d3d3;">
    <!-- The contact header -->
    <h1>Contact</h1>
    <!-- The main row-column structure -->
    <div class="row">
        <div class="col-lg-5 bg-white my-3">
            <p class="mb-5">
                If you would like to <span class="text-emphasis">contact me</span>, please, use the
                <span class="text-emphasis">contact form</span> or send me an <span class="text-emphasis">email</span>.
                I will do my best to get back to you as soon as possible. You can also find me on LinkedIn and Github.
            </p>
            <p class="mb-4">
                <span class="glyphicon glyphicon-map-marker"></span> Stockholm, Sweden
            </p>
            <p class="mb-4">
                <span class="glyphicon glyphicon-phone"></span> +36 309524269 (HU)
            </p>
            <p class="mb-4">
                <span class="glyphicon glyphicon-envelope"></span> mark.antal.csizmadia@gmail.com
            </p>
            <p class="mb-4">
                <span class="fa fa-linkedin fa-lg"></span> <a class="href-a" href="https://www.linkedin.com/in/mark-antal-csizmadia/" target="_blank"> LinkedIn</a>
            </p>
            <p class="mb-4">
                <span class="fa fa-github fa-lg"></span> <a class="href-a" href="https://github.com/mark-antal-csizmadia" target="_blank"> GitHub</a>
            </p>
        </div>
        <div class="col-lg-7 my-3">
            <form method="POST" class="mx-4">
                {% csrf_token %}
                <fieldset class="form-group row contact-form-shadow-effect contact-form-p">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group text-center">
                    <button class="btn btn-primary btn-xlarge href_p mt-3 mb-5" type="submit">Send Message</button>
                </div>
            </form>
        </div>

    </div>
</div>