<footer id="footer" class="page-footer">
    <div class="container text-center">
        <p>
            Thank you for visiting my website! If you liked what you saw, send me a
            <a id="contactfooter" href="#contact">message</a>.
        </p>
    </div>
    <div class="container text-center pt-2">
        <a id="totop" href="#"><span id="totopicon" class="glyphicon glyphicon-chevron-up"></span></a>
    </div>
    <div class="footer-copyright text-center pt-5">
        © 2020 Mark Csizmadia
    </div>
</footer>