<!-- The footer container -->
<footer id="footer" class="page-footer">
    <div class="container text-center">
        <p>Thank you for visiting my website! If you liked what you saw, send me a
            <!-- Smooth scrolling to contact form -->
            <a id="contactfooter" href="#contact" class="footer-href">message</a>.
        </p>
    </div>
    <div class="container text-center pt-2">
        <!-- Smooth scrolling to top -->
        <a id="totop" href="#"><span id="totopicon" class="glyphicon glyphicon-chevron-up"></span></a>
    </div>
    <div class="container text-center mt-5">
        <p><span class="glyphicon glyphicon-map-marker"></span> Stockholm, Sweden</p>
        <p><span class="glyphicon glyphicon-phone"></span> +36 309524269 (HU)</p>
        <p><span class="glyphicon glyphicon-envelope"></span> mark.antal.csizmadia@gmail.com</p>
        <p><span class="fa fa-linkedin fa-lg"></span> <a class="footer-href"
                                                         href="https://www.linkedin.com/in/mark-antal-csizmadia/"
                                                         target="_blank"> LinkedIn</a></p>
        <p><span class="fa fa-github fa-lg"></span> <a class="footer-href"
                                                       href="https://github.com/mark-antal-csizmadia"
                                                       target="_blank"> GitHub</a></p>
    </div>
    <div class="container text-center pt-5">
        <p>© 2020 Mark Csizmadia</p>
    </div>
</footer>
