<!-- The jumbotron container -->
<div id="jumbotron" class="jumbotron text-center bg-aqua">
    <div class="container">
        <h1>Welcome!</h1>
        <p>I am Mark Csizmadia - a machine learning and deep learning engineer and MSc student.</p>
        <p>
            This is my personal website where I share everything related to my professional development.
            Below, you will find a short introduction about me and my selected projects. If you would like to contact me,
            please use the contact form below or send me an email. I hope you will visit my blog as well, which you can
            navigate to using the bottom of this page.
        </p>
        <p>
            I hope you will enjoy your visit here!
        </p>
    </div>
</div>

