<!-- The messages container, it appears underneath the jumbotron -->
<div class="container-fluid px-0">
    <!-- If any message -->
    {% if messages %}
        <!-- Show every message (for now, there can only be one when the user successfully contacted me) -->
        {% for message in messages %}
            {% if message.tags == "post_contact_form success" %}
                <div class="alert alert-success text-center">
                    <button type="button" class="close btn-lg mx-4" data-dismiss="alert" aria-hidden="true">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <p class="mx-4">{{ message }}</p>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>