<!-- The messages container, it appears underneath the jumbotron -->
<div class="container-fluid px-0">
    <!-- If any message -->
    {% if messages %}
        <!-- Show every message (for now, there can only be one when the user successfully contacted me) -->
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} text-center">
                <button type="button" class="close btn-lg" data-dismiss="alert" aria-hidden="true">&times;</button>
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
</div>