<!-- The Projects section -->
<!-- Uses project.html for creating HTML for the core row-column structure of the projects pill navigation tabs -->
<div id="projects" class="container bg-white" style="border-bottom: 1px solid #d3d3d3;">
    <!-- Project header -->
    <h1>Projects</h1>
    <!-- If any message -->
    {% if messages %}
        <!-- Show every message (for now, there can only be one when the user successfully contacted me) -->
        {% for message in messages %}
            {% if message.tags == 'projects_message info' %}
                <div class="alert alert-info text-left">
                    <button type="button" class="close btn-lg mx-4" data-dismiss="alert" aria-hidden="true">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <p class="mx-4">{{ message }}</p>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <!-- Navbar for filtering projects -->
    <nav id="navbar_projects" class="navbar navbar-dark bg-white mr-auto">
        <div class="container px-0">
            <div class="navbar-header px-0 ml-5">
                <button id="project_nav_but" class="navbar-toggler collapsed px-0" type="button"
                        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar top-bar" data-toggle="tooltip" data-placement="top"
                          title="Filter by tag."></span>
                    <span class="icon-bar middle-bar" data-toggle="tooltip"
                          data-placement="top" title="Filter by tag."></span>
                    <span class="icon-bar bottom-bar" data-toggle="tooltip"
                          data-placement="top" title="Filter by tag."></span>
                </button>
                <!-- Iterate over projects (ordered dict based on tags as keys) to show the starting filter tag and the
                 corresponding projects -->
                {% for tag, projects in projects_as_dict.items %}
                    <!-- The first tag is the current project filter -->
                    {% if forloop.first %}
                        <p class="p-small mt-3">
                            Filter result: <span id="tag_n">{{ projects.paginator.count }}</span> projects</p>
                        <p class="mt-3" data-toggle="tooltip" data-placement="top"
                           title="Filter by tag using the menu.">
                            Filtered by <span id="project_selector"> {{ tag.name }}</span>
                        </p>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="collapse navbar-collapse ml-5" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-pills" id="pills-tab" role="tablist"
                    style="border-bottom: 1px solid #d3d3d3; margin-bottom: 15px; padding-bottom: 15px;">
                    <!-- Iterate over the ordered dict based on tags as keys. Note that projects are paginated and the
                    first page will show as a start, then lazy load to see more projects -->
                    {% for tag, projects in projects_as_dict.items %}
                        <!-- The projects of the first (active) tag in the ordered dict keys reside in the active
                        projects pill tab -->
                        {% if forloop.first %}
                            <li class="nav-item">
                                <a data-n="{{ projects.paginator.count }}" class="nav-link active p-small py-2"
                                   id="pills-{{ tag.slug }}-tab" data-toggle="pill" href="#pills-{{ tag.slug }}"
                                   role="tab" aria-controls="pills-{{ tag.slug }}" aria-selected="true">
                                    {{ tag.name }}
                                </a>
                            </li>
                        <!-- The projects of tags other than the first one (inactive) in the ordered dict keys reside
                        in the inactive projects pill tab -->
                        {% else %}
                            <li class="nav-item">
                                <a data-n="{{ projects.paginator.count }}" class="nav-link p-small py-2"
                                   id="pills-{{ tag.slug }}-tab" data-toggle="pill" href="#pills-{{ tag.slug }}"
                                   role="tab" aria-controls="pills-{{ tag.slug }}" aria-selected="false">
                                    {{ tag.name }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="tab-content mt-4" id="pills-tabContent">
                <!-- Fill up the tabs with the projects following the aformentioned
                ordered dict/ordered key/first in for loop rule -->
                {% for tag, projects in projects_as_dict.items %}
                    {% if forloop.first %}
                        <div class="tab-pane fade show active" id="pills-{{ tag.slug }}" role="tabpanel"
                             aria-labelledby="pills-{{ tag.slug }}-tab">
                            <div id="project_list_active" class="container infinite-container">
                                {% include 'core_app/project.html' %}
                            </div>
                            <!-- If the current page does not have a next page, do not keep the Load Glyph More
                            Projects button for lazy loading more (handled in lazy_load_active_project_pills.js and
                             lazy_load_inactive_project_pills.js -->
                            {% if not projects.has_next %}
                            <!-- If the current page has a next page, keep the Load Glyph More Projects button for
                            lazy loading more.
                            The else clause takes effect only on rendering the Projects section, otherwise the
                            aformentioned JS files take care of keeping and hiding the load more project button -->
                            {% else %}
                                <div class="d-flex justify-content-center mt-5">
                                    <a id="lazyLoadLinkProjectsActive" class="btn btn-outline-info btn-xlarge href_p"
                                       href="javascript:void(0);" data-page="2" data-tag="{{ tag.slug }}">
                                        <span class="glyphicon glyphicon-refresh"></span> More Projects
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="tab-pane fade" id="pills-{{ tag.slug }}" role="tabpanel"
                             aria-labelledby="pills-{{ tag.slug }}-tab">
                            <div id="project_list" class="container infinite-container">
                                {% include 'core_app/project.html' %}
                            </div>
                            {% if not projects.has_next %}
                            {% else %}
                                <div class="d-flex justify-content-center mt-5">
                                    <a id="lazyLoadLinkProjects" class="btn btn-outline-info btn-xlarge href_p"
                                       href="javascript:void(0);" data-page="2" data-tag="{{ tag.slug }}">
                                        <span class="glyphicon glyphicon-refresh"></span> More Projects
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </nav>

</div>

