<div id="projects" class="container bg-white" style="border-bottom: 1px solid #d3d3d3;">
    <h1>Projects</h1>

    <nav id="navbar_projects" class="navbar navbar-dark bg-white">
        <div class="container">
            <div class="navbar-header" style="width: 100%;">
                <div class="row">
                    <div class="col-1">
                        <button id="project_nav_but" class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="icon-bar top-bar" data-toggle="tooltip" data-placement="top" title="Filter by tag."></span>
                            <span class="icon-bar middle-bar" data-toggle="tooltip" data-placement="top" title="Filter by tag."></span>
                            <span class="icon-bar bottom-bar" data-toggle="tooltip" data-placement="top" title="Filter by tag."></span>
                        </button>
                    </div>
                    <div class="col-11">
                        <p data-toggle="tooltip" data-placement="top" title="Filter by tag using the menu.">
                            {% for tag, projects in projects_as_dict.items %}
                                {% if forloop.first %}
                                    Filtered by: <span id="project_selector"> {{ tag.name }} ({{ projects.paginator.count }})</span>
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    {% for tag, projects in projects_as_dict.items %}
                        {% if forloop.first %}
                            <li class="nav-item">
                                <a class="nav-link active p-small py-2" id="pills-{{ tag.slug }}-tab" data-toggle="pill" href="#pills-{{ tag.slug }}" role="tab" aria-controls="pills-{{ tag.slug }}" aria-selected="true">
                                    {{ tag.name }} ({{ projects.paginator.count }})
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link p-small py-2" id="pills-{{ tag.slug }}-tab" data-toggle="pill" href="#pills-{{ tag.slug }}" role="tab" aria-controls="pills-{{ tag.slug }}" aria-selected="false">
                                    {{ tag.name }} ({{ projects.paginator.count }})
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="tab-content" id="pills-tabContent">
                {% for tag, projects in projects_as_dict.items %}
                    {% if forloop.first %}
                        <div class="tab-pane fade show active" id="pills-{{ tag.slug }}" role="tabpanel" aria-labelledby="pills-{{ tag.slug }}-tab">
                            <div id="project_list_active" class="container infinite-container">
                                {% include 'core_app/project.html '%}
                            </div>
                            {% if not projects.has_next %}
                            {% else %}
                                <div class="d-flex justify-content-center">
                                    <a id="lazyLoadLinkProjectsActive" class="btn btn-outline-info btn-xlarge href_p" href="javascript:void(0);" data-page="2" data-tag="{{ tag.slug }}">
                                        Load More Projects
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="tab-pane fade" id="pills-{{ tag.slug }}" role="tabpanel" aria-labelledby="pills-{{ tag.slug }}-tab">
                            <div id="project_list" class="container infinite-container">
                                {% include 'core_app/project.html '%}
                            </div>
                            {% if not projects.has_next %}
                            {% else %}
                                <div class="d-flex justify-content-center">
                                    <a id="lazyLoadLinkProjects" class="btn btn-outline-info btn-xlarge href_p" href="javascript:void(0);" data-page="2" data-tag="{{ tag.slug }}">
                                        Load More Projects
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </nav>

</div>

