<!-- The Blog section -->
<div id="to_blog" class="container bg-white" style="border-bottom: 1px solid #d3d3d3;">
    <!-- The blog header -->
    <h1>Blog</h1>
    <!-- The grid structure of the blog section -->
    <div class="row">
        <div class="col-lg-6">
            <p>
                I am writing a blog to capture my professional development and journey.
                I mostly go into the details of my <span class="text-emphasis">projects</span>,
                create <span class="text-emphasis">tutorial-like guides</span>,
                put down my <span class="text-emphasis">thoughts</span> on machine learning and deep learning related topics,
                and elaborate on my <span class="text-emphasis">experiences</span> that shaped my thinking and interests.
            </p>
        </div>
        <div class="col-lg-6">
            <p>
                Currently, my blog has <span class="text-emphasis">{{ number_of_posts }} posts</span> with an
                overall reading time of <span class="text-emphasis">{{ overall_reading_time }} minutes</span>
                in topics such as
            </p>
            <p>
                <!-- Show all of the tags that are used in the blog application.
                The for loop is used to build and inline list of the tags. Here is it pointless, but in the
                blog application it is an effective way to create an inline list of anchors that can be used as filter
                shortcuts (see in the blog app) -->
                {% for tag in tags %}
                    {% if forloop.last %}
                        <li class="list-inline-item tag-like-text"> {{ tag.name }}</li>
                    {% else %}
                        <li class="list-inline-item tag-like-text"> {{ tag.name }},</li>
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-center my-5">
        <a href="{% url 'blog-home' %}" class="btn btn-primary btn-xlarge href_p">Check Out the Blog</a>
    </div>
</div>