<div id="to_blog" class="container bg-white" style="border-top:2px solid #fba100;">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-uppercase">Check out my blog</h1>
        </div>
        <div class="col-md-6 text-right">
            <h1>First</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin enim ex, gravida ac consequat eu,
                tristique non lacus. Sed faucibus a diam iaculis rhoncus.</p>
        </div>
        <div class="col-md-6 text-left">
            <h1>Second</h1>
            <p>Cras est nisi, gravida scelerisque quam at, placerat porta elit. Fusce gravida dolor eu
                dignissim sagittis. Suspendisse mauris ante, laoreet et massa ac, gravida vulputate odio.
                Suspendisse pellentesque est quis nulla eleifend, id aliquam leo viverra. </p>
        </div>
        <div class="col-md-12 text-center">
            <a href="{% url 'blog-home' %}" class="btn btn-primary mb-2 btn-xlarge mx-2">Go to Blog</a>
        </div>
    </div>
</div>