{% extends "blog/blog_base.html" %}
{% block content %}
    <div id="post_list" class="container">
        <div class="row px-5">
        <div class="col-md-12">
            <h1 class="text-uppercase">About</h1>
        </div>
        <div class="col-md-6 text-right">
            <h1>First</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin enim ex, gravida ac consequat eu,
                tristique non lacus. Sed faucibus a diam iaculis rhoncus.</p>
        </div>
        <div class="col-md-6 text-left">
            <h1>Second</h1>
            <p>Cras est nisi, gravida scelerisque quam at, placerat porta elit. Fusce gravida dolor eu
                dignissim sagittis. Suspendisse mauris ante, laoreet et massa ac, gravida vulputate odio.
                Suspendisse pellentesque est quis nulla eleifend, id aliquam leo viverra. </p>
        </div>
    </div>
    </div>
{% endblock content %}