<!-- Extend the blog_base.html -->
<!-- the blog_filter.html is almost the same the blog_home.html except the following:
(1) featured posts
(2) there is a Back to Blog Home navlink in the main navbar
(3) the lazy load only load the filtered posts -->
{% extends "blog/blog_base.html" %}
{% block content %}
    <div class="container" style="padding-top: 60px;">
        <div class="row">
            <div class="col-lg-6">
                <p class="p-small">Filter result: {{ posts.paginator.count }} posts</p>
                <div class="dropdown show">
                    <a class="btn btn-primary btn-xlarge href_p dropdown-toggle" href="{% url 'blog-home' %}" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filtered by {{ filtered_by }}
                    </a>

                    <div class="dropdown-menu card-shadow-effect" style="border: none!important; width: 100%!important;" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item href_p" href="{% url 'blog-home' %}">
                            Everything
                        </a>
                        {% for tag in tags %}
                            <a class="dropdown-item href_p" href="{% url 'blog-filter' tag.slug %}">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6"></div>
        </div>
    </div>

    <div id="post_list" class="container infinite-container">
        {% include 'blog/posts.html' %}
    </div>

    <div class="container text-center mb-5">
        {% if next_page_number == previous_page_number %}
        {% else %}
            <a id="lazyLoadLink" class="btn btn-outline-info btn-xlarge href_p" href="javascript:void(0);" data-page="2">
                <span class="glyphicon glyphicon-refresh"></span> More Posts
            </a>
        {% endif %}
    </div>
{% endblock content %}