{% extends "blog/blog_base.html" %}
{% block content %}

    <div class="container" style="padding-top: 50px;">
        <p class="p-small">Filter result: {{ posts.paginator.count }} posts</p>
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle btn-xlarge href_p" href="{% url 'blog-home' %}" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtered by {{ filtered_by }}
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item href_p" href="{% url 'blog-home' %}">
                    Everything
                </a>
                {% for tag in tags %}
                    <a class="dropdown-item href_p" href="{% url 'blog-filter' tag.slug %}">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="post_list" class="container infinite-container">
        {% include 'blog/posts.html' %}
    </div>


    <div class="container text-center mb-4">
        {% if next_page_number == previous_page_number %}
        {% else %}
            <a id="lazyLoadLink" class="btn btn-outline-info btn-xlarge href_p" href="javascript:void(0);" data-page="2">
                Load More Posts
            </a>
        {% endif %}
    </div>


{% endblock content %}