{% extends "blog/blog_base.html" %}
{% block content %}
    <div id="post_list" class="container">
        <div class="row text-center">
            <div class="col-lg-5 order-lg-2">
                <div id="sidebar2" class="container sticky-top">
                    <h2 class="text-left">Filter by</h2>
                    <div class="row justify-content-left">
                        <div class="col-xs-8 mx-5 pt-5">
                            <h2 class="text-left">Topics</h2>
                        </div>
                        <div class="col-xs-4">
                            <div class="list-group">
                                <a href="{% url 'blog-home' %}" class="list-group-item list-group-item-action">Everything</a>
                                {% for tag in tags %}
                                    {% if tag == filtered_by %}
                                        <a href="{% url 'blog-filter' tag.slug %}" class="list-group-item list-group-item-action active">{{ tag.name }}</a>
                                    {% else %}
                                        <a href="{% url 'blog-filter' tag.slug %}" class="list-group-item list-group-item-action">{{ tag.name }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-7 order-lg-1">
                <h2>Filtered by {{ filtered_by }}</h2>
                {% for post in posts %}
                    <div class="card my-5">
                        <div class="card">
                            <div class="card-header text-muted text-left">
                                <ul class="list-inline">
                                    <span class="glyphicon glyphicon-tags"></span>
                                    {% for tag in post.tags.all %}
                                        <a href="{% url 'blog-filter' tag.slug %}"><li class="list-inline-item text-muted"> {{ tag.name }}</li></a>
                                    {% endfor %}
                            </ul>
                            </div>
                            <div class="embed-responsive embed-responsive-16by9">
                                <img class="card-img-top embed-responsive-item fadeIn" src="{{ post.image.url }}" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.short_intro }}</p>
                            </div>

                            <div class="card-body align-items-center d-flex justify-content-center">
                                <a href="{% url 'post-detail' post.slug %}" class="btn btn-primary mb-2 btn-xlarge mx-2">Read the post</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>


        <div class="container text-center">

            {% if posts.has_previous %}
                <a class="btn btn-outline-info mb-4 btn-xlarge mx-2" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4 btn-xlarge mx-2" href="?page={{ posts.previous_page_number }}">Previous</a>
            {% endif %}
            {% for num in posts.paginator.page_range %}
                {% if posts.number == num %}
                    <a class="btn btn-outline-info mb-4 btn-xlarge mx-2 active" href="?page={{ num }}">{{ num }}</a>
                {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4 btn-xlarge mx-2" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if posts.has_next %}
                <a class="btn btn-outline-info mb-4 btn-xlarge mx-2" href="?page={{ posts.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4 btn-xlarge mx-2" href="?page={{ posts.paginator.num_pages }}">Last</a>
            {% endif %}

        </div>

{% endblock content %}